/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

/* VARIAVEIS CSS */

:root {
  --backgroundcolor: #ffffff;
  --footerbackgroundcolor: #000000;
  --navbarbackgroundcolor: #000000;
  --cardbackgroundcolor: #f5f5f5;
  --cardiconconcolor: #8c8c8c;
  --textcolor: #222222;
  --buttoncolor: #b81515;
  --buttonhovercolor: #8f0101;
  --subtitlecolor: #8c8c8c;

  --titleweight: 700;
  --menuweight: 500;
  --textweight: 400;

  
}

header {
  background-color: var(--navbarbackgroundcolor);
}

body {
  font-family: "Montserrat";
 
} 
