header {
  background-color: var(--navbarbackgroundcolor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 38px 48px;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.navigation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--navbarbackgroundcolor);
  
}

nav {
  display: none;

}

.list-links li a {
  color: var(--backgroundcolor);
  list-style: none;  
  text-decoration: none;
}

.list-links li {
 margin: 16px 0;
}


